<mat-sidenav-container class="sidenav-container">
  <!-- Menu Lateral -->
  <!--<mat-sidenav #sidenav mode="side" class="sidenav" [opened]="true"> -->
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="true" [class.collapsed]="!expanded">
    <mat-nav-list class="menu-title">
      <div class="icon-container">
        <a mat-list-item routerLink="/" title="Página Inicial">
          <i class="material-icons">home</i>
          <span *ngIf="expanded">Página Inicial</span>
        </a>
        <a mat-list-item routerLink="cursos" title="Plataformas de cursos"> 
          <i class="material-icons">rocket_launch</i>
          <span *ngIf="expanded">Plataformas de cursos</span>
        </a>
        <a mat-list-item routerLink="ferramentas" title="Ferramentas">
          <i class="material-icons">build</i>
          <span *ngIf="expanded">Ferramentas</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo Principal -->
  <mat-sidenav-content >
    <mat-toolbar class="header mat-elevation-z8">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>{{ menuIcon }}</mat-icon>
      </button>

      <div class="header-logo">MHM - DEV ACADEMY</div>

      <div class="header-youtube">
        <a href="https://www.youtube.com/channel/UC-monLE8WbcI6eWNFdM02mA" target="_blank">
          <img
            src="https://img.icons8.com/ios-filled/24/youtube-play.png"
            alt="YouTube"
            title="Youtube"
            style="vertical-align: middle; margin-right: 5px;"
          />
        </a>
      </div>

      <div class="header-rumble">
        <a href="https://rumble.com/c/c-7584391" target="_blank">
          <img
            src="assets/imagens/rumble-2.svg"
            alt="Rumble"
            title="Rumble"
            style="vertical-align: middle; margin-right: 5px; width: 24px; height: 24px;"
          />
        </a>
      </div>

    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
