body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 0;
 /* box-sizing: border-box; */
}
 
.header {
  background-color: #2b6cb0; 
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha os itens à esquerda */
  padding: 0 16px; 
  height: 100px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
  position: fixed; /* Fixa o header no topo */
  top: 0; /* Alinha ao topo da página */
  left: 0;
  width: 100%; /* Ocupa toda a largura da tela */
  z-index: 1000; /* Mantém o header acima dos outros elementos */
}

.header button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  transition: transform 0.2s ease; 
}

.header-logo {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-right: auto; /* Empurra os outros itens para a direita */
}

.header-youtube img {
  width: 24px; 
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.header-youtube img:hover {
  transform: scale(1.1); 
}

.header-rumble img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
 }
 
 
 .header-rumble img:hover {
  transform: scale(1.1);
 }



.sidenav-container {
  height: 100vh;
  background-color: #f9fafb; 
  padding-top: 100px; /* Ajusta o espaço para o header fixo */
}

mat-sidenav-content {
  background-color: #fff; 
  padding: 16px; 
}

.content {
  margin-top: 16px; 
  font-size: 1rem; 
  line-height: 1.6; 
  margin-top: 100px; /* Empurra o conteúdo para baixo */
}

mat-toolbar button {
  color: #fff; 
}

mat-toolbar button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 50%; 
} 

.menu-title {
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: column; /* Alinha os ícones horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: flex-end; /* Alinha à esquerda */
  padding: 16px;
}

.icon-container a {
  margin-right: 10px; /* Espaçamento entre os ícones */
}