<mat-toolbar class="header mat-elevation-z8">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>{{ menuIcon }}</mat-icon>
      </button>

      <div class="header-logo">MHM - DEV ACADEMY</div>

      <div class="header-youtube">
        <a href="https://www.youtube.com/channel/UC-monLE8WbcI6eWNFdM02mA" target="_blank">
          <img
            src="https://img.icons8.com/ios-filled/24/youtube-play.png"
            alt="YouTube"
            title="Youtube"
            style="vertical-align: middle; margin-right: 5px;"
          />
        </a>
      </div>

      <div class="header-rumble">
        <a href="https://rumble.com/c/c-7584391" target="_blank">
          <img
            src="assets/imagens/rumble-2.svg"
            alt="Rumble"
            title="Rumble"
            style="vertical-align: middle; margin-right: 5px; width: 24px; height: 24px;"
          />
        </a>
      </div>
</mat-toolbar>
<app-navbar [expanded]="expanded"></app-navbar>
