.header {
  background-color: #2b6cb0; 
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  height: 100px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 1000; 
} 

.header button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  transition: transform 0.2s ease; 
} 

.header-logo {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-right: auto; 
}

.header-youtube img {
  width: 24px; 
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.header-youtube img:hover {
  transform: scale(1.1); 
}

.header-rumble img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
 }
 
 .header-rumble img:hover {
  transform: scale(1.1);
 }

 .sidenav-container {
  margin-top: 100px;
  height: calc(100vh - 100px);
  background-color: white;
  padding-top: 0px; 
 }

 content {
  padding: 16px; 
}
/*
 .icon-container a {
  display: flex;  
  align-items: center;
  text-decoration: none; 
  color: #333; 
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; 

}  */

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os ícones e textos à esquerda */
  padding-left: 10px;
}

.icon-container a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-container i {
  margin-right: 10px; /* Espaçamento entre ícone e texto */
}

.icon-container span {
  white-space: nowrap; /* Evita quebra de linha */
}
   