<mat-toolbar class="header mat-elevation-z8">
  <div class="header-logo">MHM - Dev Academy</div>
  <nav class="header-nav">
    <a href="https://www.youtube.com/channel/UC-monLE8WbcI6eWNFdM02mA" target="_blank">
      <img src="https://img.icons8.com/ios-filled/24/youtube-play.png" alt="YouTube" style="vertical-align: middle; margin-right: 5px;">
      YouTube
    </a>
  </nav>
 <!-- <div class="header-right">
    <input type="text" placeholder="Pesquisar" class="header-search" />
    <a href="/login" class="header-login">Entrar</a>
    <button class="header-cta">Assine Agora</button>
  </div> -->
</mat-toolbar>
