<form class="form">
  <h1>Deletando cliente</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input disable [(ngModel)]="cliente.nome" name="nome" matInput placeholder="Nome do cliente">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Cpf</mat-label>
    <input disable [(ngModel)]="cliente.cpf" name="cpf" matInput placeholder="000.000.000-00">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Telefone</mat-label>
    <input disable [(ngModel)]="cliente.telefone" name="telefone" matInput placeholder="(00) 90000-0000" >
  </mat-form-field>
  <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">DELETAR</button>
  <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>
