<div class="card-container">
  <mat-card *ngFor="let card of cards" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="card.imageUrl" alt="{{ card.title }}" />
    <mat-card-content>
      <p>{{ card.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="primary" href="{{ card.link }}" target="_blank">Saiba mais</a>
    </mat-card-actions>
  </mat-card>
</div>


<!--

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Coursera</mat-card-title>
      <mat-card-subtitle>Coursera é uma plataforma de cursos online gratuitos</mat-card-subtitle>
      <img mat-card-sm-image src="../../../assets/imagens/Coursera.png" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>A plataforma Coursera é alternativa de ensino para quem quer se atualizar na profissão ou se desenvolver pessoalmente</p>
    <p><a href="https://www.coursera.org" target="_blank">https://www.coursera.org</a></p>
    <p><a href="https://www.youtube.com/@coursera" target="_blank">https://www.youtube.com/@coursera</a></p>
  </mat-card-content>
</mat-card>
-->
