.footer {
  background-color: #5a93cf; 
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui os elementos, empurrando a imagem para a direita */
  height: 50px; /* Defina um tamanho adequado */
}

.footer-section {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto; /* Empurra a imagem para a direita */
}

.footer-section img {
  max-height: 70%; /* Garante que a imagem não ultrapasse a altura do footer */
  width: auto; /* Mantém a proporção */
  max-width: 100%; /* Garante que a imagem não ultrapasse o container */
  background: transparent; /* Garante que a imagem não tenha fundo */
  padding: 20px 20px;
}
