.footer {
  background-color: #2c8ae9;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
