<div class="card-container">
    <mat-card *ngFor="let card of cards" class="example-card">   
  
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>
  
     <!-- <mat-card-actions>
        <a mat-button color="primary" href="{{ card.link }}" target="_blank">Saiba mais</a>
      </mat-card-actions>  -->
      
      <mat-card-actions>
        <a mat-button color="primary" [href]="card.link" target="_blank">Saiba mais</a>
      </mat-card-actions>
  
      <img mat-card-image [src]="card.imageUrl" alt="{{ card.title }}" />
  
      <mat-card-content>
        <p>{{ card.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>

